* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #999;
  /* display mode 배치모드 */
  display: flex;
  /* 수평정렬 left | center | right */
  justify-content: center;
  /* 수직정렬 */
  align-items: center;
}
p{
  line-height: 1.6;
  margin-top: 1rem;
}
.App{
  border: 1px solid rgba(0,0,0, 0.2);
  padding: 40px 20px;
  text-align: center;
  max-width: 768px;
  background: #fff;
}

button{
  padding: 5px 10px;
}
.dark{
  background: #000;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #666;
}